Name: <input type="text" ng-model="applicationController.name">
Status: <input type="text" ng-model="applicationController.status">
Meta Data: <input type="text" ng-model="applicationController.metaData">
<input type="button" value="Add" ng-click="applicationController.addApplication()">
<hr/>
<h2>Applications</h2>
<ul>
    <li ng-repeat="application in applicationController.applications">
        {{$index+1}}. Name: {{application.name}} Status: {{application.status}} MetaData: {{application.metaData}} <input type="button" value="Edit" ng-click="applicationController.editApplication()">
    </li>
</ul>
<script type="text/ng-template" id="editApplication.html">
    Name: <input type="text" ng-model="editApplicationController.name">
    Status: <input type="text" ng-model="editApplicationController.status">
    Meta Data: <input type="text" ng-model="editApplicationController.metaData">
    <input type="button" value="Reset" ng-click="editApplicationController.reset()">
    <input type="button" value="Save" ng-click="editApplicationController.save()">
</script>