###########################
#WebStorm Files
###########################
.idea/

###########################
#NPM Files
###########################
node_modules

###########################
#Build Files
###########################
build

###########################
#Temp Files
###########################
temp