Name: <input type="text" ng-model="siteController.sheetName">
Meta Data: <input type="text" ng-model="siteController.metaData">
<input type="button" value="Add" ng-click="siteController.addSite()">
<hr/>
<h2>Sites</h2>
<ul>
    <li ng-repeat="site in siteController.sites">
        {{$index+1}}. Sheet Name: {{site.sheetName}}
        MetaData: {{site.metaData}}
        Version: {{site.version}}
        Created At: {{site.createdAt | date : 'hh:mm:ss, dd MM, yyyy'}}
        <input type="button" value="Edit" ng-click="siteController.editSite(site)">
        <input type="button" value="History" ng-click="siteController.showHistory(site.sheetName)">
    </li>
</ul>
<script type="text/ng-template" id="editSite.html">
    Sheet Name: <input type="text" readonly ng-model="editSiteController.sheetName">
    Meta Data: <input type="text" ng-model="editSiteController.metaData">
    <input type="button" value="Reset" ng-click="editSiteController.reset()">
    <input type="button" value="Save" ng-click="editSiteController.update()">
</script>
<script type="text/ng-template" id="showSiteHistory.html">
    <ul>
        <li ng-repeat="siteHistory in showSiteHistoryController.histories">
            {{$index+1}}. Sheet Name: {{siteHistory.sheetName}}
            MetaData: {{siteHistory.metaData}}
            Version: {{siteHistory.version}}
            Created At: {{siteHistory.createdAt | date : 'hh:mm:ss, dd MM, yyyy'}}
        </li>
    </ul>
</script>